# This file is meant to be sourced by Specter to convert pieces of the GES
# CVS repository into a spec file and tarball suitable for use with rpm.
#
# -Brendan Conoboy (blc@redhat.com)
#

makeextra=""
configextra=""
module="gnupro/binutils gnupro/bfd gnupro/opcodes gnupro/libiberty gnupro/intl gnupro/gas gnupro/ld gnupro/gprof gnupro-support"
top=gnupro
