# This file is meant to be sourced by Specter to convert pieces of the GES
# CVS repository into a spec file and tarball suitable for use with rpm.
#
# -Brendan Conoboy (blc@redhat.com)
#

makeextra=""
configextra="--enable-languages=c,c++"
module="gnupro/gcc gnupro/libstdc++-v3 gnupro/libiberty gnupro-support"
top=gnupro

